.list {
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.item {
    padding: 8px;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(128, 128, 128, 0.9);
}

.itemColor {
    background-color: rgb(107, 19, 19);
    color: rgb(233, 227, 227);
}