.wrapBtn {
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 30px;
}

.button {
    color: rgb(247, 242, 242);
    background-color: rgb(107, 19, 19);
    border: none;
    box-shadow: 0 4px 6px rgba(128, 128, 128, 0.9);
    transition: background-color 0.25s;
}

.button:hover {
    background-color: rgb(77, 53, 53);
}